@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  background: rgb(225, 221, 221);
  color: #333;
  font-family: "Nunito";
}

a {
  color: inherit;
  text-decoration: none;
}

.home{
  font-size: 24px;
}

.about{
  font-size: 24px;
}

.contect{
  font-size: 24px;
}

.ella{
  font-size: 26px;
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.titleText{
	color: #111;
	font-size: 2em;
	font-weight: 300;
}
.titleText span{
	color: #ff0157;
	font-weight: 700;
	font-size: 1.5em;
}
.title{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.singleFoodImg{
  height: 400px;
  weight: 100%;
}
.content{
	text-align: center;
}
.text{
  font-size: 20px;
  text-align: center;
}
.content .box{
	width: 250px;
	margin: 15px;
}
.box .imgbox{
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
}
.box .imgbox img{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-position: center;
	transition: .5s;
}
.box .imgbox img:hover{
	transform: scale(1.1);
}
.white .titleText,
.white p
{
	color: #fff;
}
.TContent{
  display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 20px;
}
.Tbox{
  width: 340px;
	margin: 20px;
	padding: 40px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 80px;
}
.Timgbox{
  position: relative;
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
	border-radius: 50%;
	overflow: hidden;
}
.Timgbox img{
  position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-position: center;
}
.Ttext{
  text-align: center;
}
.Ttext h3{
  margin-top: 20px;
	color: #111;
	font-size: 1em;
	color: #ff0157;
	font-weight: 600;
}